.head-table {
    font-size: 25px !important;
}

th {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    text-align: center;
}

.table  {
    border-radius: 5px;
    color: rgba(255, 249, 249, 0.897);
    background-color: #1A2F3A !important;
    text-align: center;
}