aside.logo {
    /* Variavel ja criada */
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
}

.nome{
    font-size: 90px;
    line-height: 105%;
    position: absolute;
    right: 0;
    top: 12px;
}

.slogan {
   /* font-size: 30px;
   position:absolute;
   right: 4px;
   top: 102px;    */
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}